@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1rem;
}

.navButton {
    text-align: center;
    background-color: #04AA6D;
    color: white;
    border:none;
    width: 256px;
    padding: 1em;
    margin-left: 1em;
}

.navButton a {
    text-decoration: none;
}

input[type='submit'].navButton {
    margin-top:24px;
    margin-left: 0;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    padding: 1em;
}

label, input, select {
    margin-top: 5px;
    display: block;
    font-size: inherit;
    width:256px;
}

input[type="text"] {
    padding: .25rem;
}

.table-cats {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 1em;
}

.table-cats td, .table-cats th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-cats tr:nth-child(even){background-color: #f2f2f2;}

.table-cats tr:hover {background-color: #ddd;}

.table-cats th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}